chaoxi
{
  "name": "chaoxi",
  "nodes": [
    {
      "parameters": {},
      "id": "5170dcfc-f92d-40ca-9888-fa0b49e178c7",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        -560,
        60
      ]
    },
    {
      "parameters": {
        "url": "https://ganhai.pages.dev/",
        "responseFormat": "string",
        "options": {}
      },
      "id": "d58636d6-1d0a-4256-b523-42f453cdbcbc",
      "name": "Fetch Tide Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -240,
        60
      ]
    },
    {
      "parameters": {
        "url": "https://api.apiflash.com/v1/urltoimage?access_key=764977990c664fb79093cd206d43f292&wait_until=network_idle&url=https://ganhai.pages.dev/&fresh=true&width=1024&height=900",
        "responseFormat": "file",
        "options": {}
      },
      "id": "f4b8e58c-c874-48d6-9700-911a5938dc4f",
      "name": "Screenshot Whole Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -40,
        60
      ]
    },
    {
      "parameters": {
        "url": "https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&appid=wx727107e4c1d179da&secret=8a228f26e003e035cdf202351885194e",
        "options": {}
      },
      "id": "2f826ace-963b-413f-9186-353fb2d45e3e",
      "name": "Get Access Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -220,
        320
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "id": "afa72260-3d81-4764-bf3e-9e32bc934c39",
      "name": "Merge AccessToken & Image",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        200,
        160
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://api.weixin.qq.com/cgi-bin/media/upload?access_token={{$json[\"access_token\"]}}&type=image",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "raw"
        },
        "sendBinaryData": true
      },
      "id": "9194a09d-1892-4265-8045-74957a88697b",
      "name": "Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        440,
        160
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "=https://api.weixin.qq.com/cgi-bin/message/mass/sendall?access_token={{$json[\"access_token\"]}}",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "{\n  \"msgtype\":\"image\",\n  \"filter\": {\n    \"is_to_all\": true\n  },\n  \"image\": {\n    \"media_id\": \"{{$json[\\\"media_id\\\"]}}\"\n  }\n}"
      },
      "id": "f7cd9f0b-cc68-4b40-97d6-ace7a47bcdfd",
      "name": "Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "id": "a3d649cc-2057-429d-ac6c-f857690e10d8",
      "name": "Merge AccessToken & media_id",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        660,
        300
      ],
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch Tide Page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Access Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tide Page": {
      "main": [
        [
          {
            "node": "Screenshot Whole Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Screenshot Whole Page": {
      "main": [
        [
          {
            "node": "Merge AccessToken & Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Access Token": {
      "main": [
        [
          {
            "node": "Merge AccessToken & Image",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge AccessToken & media_id",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge AccessToken & Image": {
      "main": [
        [
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Merge AccessToken & media_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge AccessToken & media_id": {
      "main": [
        [
          {
            "node": "Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "46335a8f-48ba-4c2b-8b4a-c26e318b572f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "301f91fb886c1577d054fc4cef30d1b4450e772d334c43694951e008b7bf7e01"
  },
  "id": "YfsSGQArBDkT1NoX",
  "tags": []
}
