x_auto_send.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -816,
        -144
      ],
      "id": "2cc1c1c1-3e36-4d60-8561-860b3fd13d27",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://53edba271760e4b58e08299442fca98930daa137-4000.dstack-prod8.phala.network/api/latest-utxo",
        "options": {
          "splitIntoItems": true
        }
      },
      "id": "b495ea3e-3959-44cb-904e-791de1ec4e55",
      "name": "Get latest utxo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -592,
        64
      ]
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -368,
        64
      ],
      "id": "d58cc3af-0fb6-4b45-9480-ed86118df9cb",
      "name": "Limit UTXO"
    },
    {
      "parameters": {
        "text": "={{$json[\"text\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        64,
        -144
      ],
      "id": "0c87618a-f4cf-40ed-b966-249f4a06039f",
      "name": "Create Tweet (Top Rank)",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "QdAkpuhCZiVLrFmj",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// 输入只有一个 item，数据在 items[0].json.result\nconst inputArray = items[0].json.result;\n\n// 1. 先找到 blockHeight\nlet blockHeightLine = \"\";\nconst bhItem = inputArray.find(obj => obj.blockHeight);\nif (bhItem) {\n  blockHeightLine = `Big 5 UTXO on blockHeight: ${bhItem.blockHeight}`;\n}\n\n// 2. 剩下的地址数据\nconst addrItems = inputArray.filter(obj => !obj.blockHeight);\n\n// 3. 取前 5 条，格式化\nconst texts = addrItems.slice(0, 5).map(obj => {\n  const key = Object.keys(obj)[0];\n  let address = key.includes(\"_\") ? key.split(\"_\")[1] : key;\n  const utxoRaw = obj[key];\n  let utxo = Math.floor(parseFloat(utxoRaw) || 0);\n  return `${address}: ${utxo}`;\n});\n\nfooter = `#BTC #Crypto`;\n\nlet tweet = [blockHeightLine, ...texts, footer].join(\"\\n\");\n\nif (tweet.length > 280) {\n  tweet = tweet.slice(0, 277) + \"...\";\n}\n\nreturn [{ json: { text: tweet } }];"
      },
      "id": "820a7675-4f94-4d65-93b0-7015f056e09d",
      "name": "Format Latest UTXO",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -160,
        64
      ]
    },
    {
      "parameters": {
        "text": "={{$json[\"text\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        304,
        64
      ],
      "id": "c57f3b38-e439-4c65-95b2-8031f2285e84",
      "name": "Create Tweet (Reply Latest UTXO)",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "QdAkpuhCZiVLrFmj",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "maxItems": 10
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -368,
        -144
      ],
      "id": "dad85020-f52b-4ef5-9b25-045bc05de97f",
      "name": "Limit Top"
    },
    {
      "parameters": {
        "functionCode": "// 输入只有一个 item，数据在 items[0].json.result\nconst inputArray = items[0].json.result;\n\nheader = `Top 5 rank:`;\nfooter = `#BTC`;\n\nconst addrItems = inputArray.filter(obj => !obj.blockHeight);\n\nconst texts = addrItems.slice(0, 5).map(obj => {\n  const key = Object.keys(obj)[0];\n  let address = key.includes(\"_\") ? key.split(\"_\")[1] : key;\n  const utxoRaw = obj[key];\n  let utxo = Math.floor(parseFloat(utxoRaw) || 0);\n  return `${address}: ${utxo}`;\n});\n\nlet tweet = [header, ...texts, footer].join(\"\\n\");\n\nif (tweet.length > 280) {\n  tweet = tweet.slice(0, 277) + \"...\";\n}\n\nreturn [{ json: { text: tweet } }];"
      },
      "id": "0a2335dc-4942-4e8b-a74d-02f50fd1d8a1",
      "name": "Format Top Rank",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -160,
        -144
      ]
    },
    {
      "parameters": {
        "url": "https://53edba271760e4b58e08299442fca98930daa137-4000.dstack-prod8.phala.network/api/top-balances",
        "options": {
          "splitIntoItems": true
        }
      },
      "id": "8fdc7eb4-4dc6-42b2-8dd9-72a7032e4db2",
      "name": "Get top balance",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        -592,
        -144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get top balance",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get latest utxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get top balance": {
      "main": [
        [
          {
            "node": "Limit Top",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit Top": {
      "main": [
        [
          {
            "node": "Format Top Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Top Rank": {
      "main": [
        [
          {
            "node": "Create Tweet (Top Rank)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet (Top Rank)": {
      "main": [
        [
          {
            "node": "Create Tweet (Reply Latest UTXO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get latest utxo": {
      "main": [
        [
          {
            "node": "Limit UTXO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit UTXO": {
      "main": [
        [
          {
            "node": "Format Latest UTXO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Latest UTXO": {
      "main": [
        [
          {
            "node": "Create Tweet (Reply Latest UTXO)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a96307eb-11a4-4dda-b59e-2f02b005046d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d6be6db053bc793431c40352dfe5f969f52f0df6fd00f52106a034f61307cef3"
  },
  "id": "FlxCMi76DboyNDRE",
  "tags": []
}
