x_auto_send.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -16,
        320
      ],
      "id": "0c8aee41-806e-4b4e-a274-77fa70d08ee6",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://53edba271760e4b58e08299442fca98930daa137-4000.dstack-prod8.phala.network/api/latest-utxo",
        "options": {
          "splitIntoItems": true
        }
      },
      "id": "f35a33a8-0e65-4267-99d8-f4d4b54179a1",
      "name": "Get latest utxo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        176,
        320
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        864,
        384
      ],
      "id": "b0d04bd7-22b6-4b82-9abd-04aad8d74264",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      text: items[1].json.text,   // 第二条 text (Latest UTXO)\n      replyToId: items[0].json.id // 第一条 tweet id (Top Rank)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        384
      ],
      "id": "e62163f5-6dca-43f0-9759-c307c85da36c",
      "name": "Code"
    },
    {
      "parameters": {
        "text": "={{$json[\"text\"]}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        624,
        224
      ],
      "id": "1e96b6f1-e3dd-405b-9a42-1c0c1eef249b",
      "name": "Create Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "6vyfuBnpvHEeK0a1",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "additionalFields": {
          "inReplyToStatusId": {
            "__rl": true,
            "value": "={{ $json.replyToId }}",
            "mode": "id"
          }
        }
      },
      "type": "n8n-nodes-base.twitter",
      "typeVersion": 2,
      "position": [
        1168,
        384
      ],
      "id": "f127d4ef-9a6d-4c5d-9b2a-bffd790b1dea",
      "name": "Reply Tweet",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "6vyfuBnpvHEeK0a1",
          "name": "X account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const inputArray = items[0].json.result;\nlet blockHeightLine = \"\";\nconst bhItem = inputArray.find(obj => obj.blockHeight);\nif (bhItem) {\n  blockHeightLine = `Biggest UTXO on blockHeight:${bhItem.blockHeight}`;\n}\nconst addrItems = inputArray.filter(obj => !obj.blockHeight);\nconst texts = addrItems.slice(0, 4).map(obj => {\n  const key = Object.keys(obj)[0];\n  let address = key.includes(\"_\") ? key.split(\"_\")[1] : key;\n  const utxoRaw = obj[key];\n  let utxo = Math.floor(parseFloat(utxoRaw) || 0);\n  return `${address}: ${utxo}`;\n});\n\nfooter = `#BTC #Crypto`;\nlet tweet = [blockHeightLine, ...texts, footer].join(\"\\n\");\nif (tweet.length > 280) {\n  tweet = tweet.slice(0, 277) + \"...\";\n}\nreturn [{ json: { text: tweet } }];"
      },
      "id": "d31f67bd-1206-448a-a1ce-12ddb1a8a142",
      "name": "Format first 4",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        432,
        224
      ]
    },
    {
      "parameters": {
        "functionCode": "const inputArray = items[0].json.result;\nlet blockHeightLine = \"\";\nconst bhItem = inputArray.find(obj => obj.blockHeight);\nif (bhItem) {\n  blockHeightLine = `Cont.`;\n}\nconst addrItems = inputArray.filter(obj => !obj.blockHeight);\nconst texts = addrItems.slice(4, 9).map(obj => {\n  const key = Object.keys(obj)[0];\n  let address = key.includes(\"_\") ? key.split(\"_\")[1] : key;\n  const utxoRaw = obj[key];\n  let utxo = Math.floor(parseFloat(utxoRaw) || 0);\n  return `${address}: ${utxo}`;\n});\n\nfooter = `#BTC #Crypto`;\nlet tweet = [blockHeightLine, ...texts, footer].join(\"\\n\");\nif (tweet.length > 280) {\n  tweet = tweet.slice(0, 277) + \"...\";\n}\nreturn [{ json: { text: tweet } }];"
      },
      "id": "d95365d9-0b0f-44c3-af56-e830eed2c5cf",
      "name": "Format next 5",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        432,
        432
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get latest utxo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get latest utxo": {
      "main": [
        [
          {
            "node": "Format first 4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format next 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Reply Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Tweet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format first 4": {
      "main": [
        [
          {
            "node": "Create Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format next 5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ec3bfa1-6504-4cc0-9a5d-1666e4a3fbfe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "35768917b16b26ddc6f41219d8759262ca1456801f9a9e5fd2947cbb504096df"
  },
  "id": "o10cBCGwvN6B07j4",
  "tags": []
}
